# i hate npm with every fiber of my being
# i js want autocompletion for the chrome api twin why are u like this 💔
/node_modules
package.json
package-lock.json

# An utility file, used for my lil project management tool. i should probably post it sometime
*.wkalias

# vim stuff
*.swp
