# my ugly frickin ui concept, the final page didn't even end up looking like it 💔🥀
/ui/concept.png

# The artist is credited on the page itself
/ui/img/.credits

# An utility file, used for my lil project management tool. i should probably post it sometime
*.wkalias