/* Titlecard */
/*¿reg*/
#title {
	position: relative;
	width: fit-content;

	font-family: "Playfair Display", serif;
	font-weight: 400;
	font-optical-sizing: auto;
	font-size: 46px;
	text-align: center;

	margin: auto;
	margin-bottom: calc(0.7rem + 2%);
}

#title::before {
	content: "";

	position: absolute;
	display: inline-block;
	inset: 100% 0 0 25%;

	width: 50%;
	height: 1rem;
	clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
	background: linear-gradient(45deg, var(--clr-hl-gradient));
}

/*?reg*/

/* The toggles section */
/*¿reg*/
#toggles-section {
	width: 100%;
	height: 100%;
}

#toggles-section-bg {
	position: relative;
	background-color: var(--clr-divbg);

	border-radius: var(--soft-radius);
	padding: 2rem;
}

#toggles-section-table td:first-child {
	width: 100%;
}

#toggles-section-bg::before {
	content: "";
	position: absolute;
	display: inline-block;
	inset: 0;

	border-bottom-right-radius: var(--medium-radius);

	z-index: 7;

	width: 45%;
	height: 5%;

	background: linear-gradient(45deg, var(--clr-hlhl-gradient));
}

/*?reg*/

/* site list section */
/*¿reg*/
#sitelist-section {
	width: 100%;
	height: fit-content;

	background-color: var(--clr-divbg);
	border-radius: var(--soft-radius);
}

/* The placeholder. */
#placeholder-title {
	display: block;

	border-radius: calc(var(--medium-radius) - 1px);
	width: 100%;
	margin: auto;
	padding-top: 1rem;
	padding-bottom: 1rem;

	background-color: var(--clr-placeholderbg);
	font-size: 28px;
	font-family: "Roboto Flex", sans-serif;
	font-weight: 400;

	transition: 0.7s ease-out;

	&:hover {
		background-color: var(--clr-placeholderbg-hover);
	}
}

/*?reg*/

/* Placeholder grid */
/* ¿reg */

#sitelist-placeholder-container {
	margin: 1rem;
	display: grid;

	grid-template-columns: 2.5fr 1fr;
	gap: 1rem;
	outline: dotted 2px var(--clr-placeholderbg-hover);
	border-radius: var(--medium-radius);
	padding: 1rem;

	#placeholder-title {
		outline: dotted 2px var(--clr-placeholderbg-hover);
		grid-column: span 2;
	}

	#placeholder-body {
		outline: dotted 2px var(--clr-placeholderbg-hover);
		padding: 2rem 1rem 2rem;
		margin: auto;

		background-color: hsl(from var(--clr-placeholderbg) h s calc(l - 2));
		border-radius: var(--soft-radius);

		font-family: "Roboto Flex", sans-serif;
		text-align: justify;
	}
}

#presets-container {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;

	a {
		position: relative;
		display: flex;
		flex-grow: 1;
		text-decoration: none;
	}

	span {
		display: block;
		margin: auto;
		z-index: 3;
		font-size: 0.8rem;
	}
}

/* ?reg */

/* Sitelist container */
/* ¿reg */

#sitelist-container {
	position: relative;
	display: grid;
	grid-template-columns: 4fr 1fr;
	background: hsl(from var(--clr-placeholderbg) h s calc(l * 0.7));

	border: 2px solid var(--clr-placeholderbg-hover);
	border-radius: var(--soft-radius);

	margin: 2rem;
	gap: 0.5rem;
	z-index: 0;
}

#sitelist-header-name,
#sitelist-header-options {
	/*why is it stupid to center text vertically...*/
	display: flex;
	width: fit-content;
	justify-content: center;
	align-content: center;

	padding: 1rem 0 1rem;
	margin: auto;

	/* Configuring the underline. */
	&::before {
		background: white;
		height: 4px;
		bottom: 7px;
	}
}

/* ?reg */

/* Entry input handler */
/* ¿reg */

#entry-handler-container {
	margin: auto;
	display: flex;
	gap: 1rem;

	width: fit-content;
	align-items: center;
}

/* Addsite button */
/* ¿reg */
#addsite-button-hb {
	display: inline-block;

	width: 3rem;
	height: 2rem;
	cursor: pointer;

	border-radius: var(--soft-radius);

	#addsite-button-bg {
		position: relative;
		display: inline-block;

		width: 100%;
		height: 100%;
		border-radius: var(--soft-radius);

		background: var(--clr-switch-off);

		transition: 0.5s ease-out;

		>#addsite-button-text {
			font-size: 13px;
			user-select: none;
			display: block;
			position: absolute;
			width: fit-content;
			height: fit-content;

			inset: 0;

			margin: auto;
		}

		&::before {
			border-radius: var(--soft-radius);
			transition: 1s ease-out;
			z-index: -1;
			content: "";
			display: inline-block;
			position: absolute;

			width: 100%;
			height: 100%;

			inset: 0;
			background: linear-gradient(45deg, var(--clr-hlhl-gradient));
			opacity: 0;
		}

		&:hover::before {
			opacity: 1;
		}

		&:hover {
			background: rgba(0, 0, 0, 0);
		}

		&:active {
			transform: translateY(5px);
		}
	}
}

/* The logic marker for the button. */
#addsite-button-inv-button {
	display: none;
}

/* ?reg */

/* the input inside the entry-handler container. */
#entry-name-input {
	appearance: none;
	position: relative;

	width: 12rem;
	height: 2rem;
	padding-left: 0.5rem;

	border: none;
	background: var(--clr-placeholderbg);
	color: white;

	border-top-right-radius: var(--soft-radius);
	border-top-left-radius: var(--soft-radius);

	border-bottom: 2px solid var(--clr-placeholderbg-hover);
	transition: 0.7s ease-out;

	&:focus {
		outline: none;
		border-bottom: 2px solid var(--clr-placeholderbg);
	}
}

/* ?reg */
