/* Debug, uncomment thingies */

/* *, */
/* *::before, */
/* *::after */ 
/* { */
/* 	outline: solid 1px red; */
/* 	background-color: rgba(255, 0, 0, 0.1); */
/* } */

/* html and body */
/*¿reg*/
html {
	background-color: var(--clr-bg);
}

/*?reg*/

/* text */
/*¿reg*/
h1,
span,
div {
	font-size: large;
	color: whitesmoke;
}
/*?reg*/

/* Some things for the main page */
/*¿reg*/
nav
{
	display: flex;
	width: fit-content;
	margin: auto;
}
/*?reg*/
