:root {
	--bottom-corner: 5px;
	--top-corner: 20px;
	
	--clr-bg: hsl(0, 0%, 3%);	
	--clr-tooltipbg: hsl(0, 0%, 10%);	
	--clr-divbg: hsl(0, 0%, 5%);	
	
	--clr-hl-gradient: #fc6621, #ff59a9;
	/* brighter gradient */
	--clr-hlhl-gradient: #ff5c5c, #deff5c;
	
	--clr-switch-off: hsl(0, 0%, 10%);
	--clr-switch-on: hsl(0, 0%, 20%);
	--clr-switch-border-off: hsl(0, 0%, 10%);
	--clr-switch-border-on: hsl(0, 0%, 25%);
	--clr-button-off: hsl(0, 0%, 30%);
	--clr-button-on: var(--clr-hl-gradient);
	
	--soft-radius: 7px;
	--medium-radius: 16px;
	--hard-radius: 20px;
}
